body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
.yzc{
	display: inline-block;
	color: green;
	height: 20px;
	width: 50px;
	line-height: 20px;
	font-size: 16px;
	border-radius: 3px 3px;
	border: 1px solid grey;
	text-align: center;
}