<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= settings.anotherTitle %></p>
    <div>
    	<% numbers.forEach(function(number){%>
    	<span class="yzc"><%=number%><br/></span>

    		<% }) %>
    </div>
  </body>
</html>
